.card.w-75.p-2.mx-auto.mb-5
  .card-body.px-5
    %h1.display-2.text-center
      = @restaurant.name
    .text-center
      = image_tag "#{@restaurant.images.first.url}"
    .contents-box.px-5
      %h3#font-size-15.border ジャンル
      %h3#font-size-20.border #{Genre.find_by(id: @restaurant.detail.genre).name}
      %h3#font-size-15.border シーン
      %h3#font-size-20.border #{Scene.find_by(id: @restaurant.detail.scene).name}
      %h3#font-size-15.border 説明:<br> #{sp_br @restaurant.content}
      %h3.m-2
        %a.card-link.btn.btn-danger{:href => "#{@restaurant.tabelog}"} 食べログ
        %a.card-link.btn.btn-primary{:href => "#{@restaurant.shopurl}"} ショップURL
        .btn.btn-dark.ml-3
          = link_to users_path(current_user.id), class: "card-link" do
            お気に入りに登録
        .btn.btn-info.mx-3
          = link_to users_path(current_user.id), class: "card-link" do
            BESTに登録する
= render 'comment-card'
= render 'comment-form'